.squareBtn{
  width:33px;
  height:30px;
}

.margin-r{
  margin-right:8px;
}

.buttonGroup{
  width:150px;
}

.profile-img{
      margin:auto;
      margin-top: 35px;
      text-align: center;
      position:relative;
      width: 70%;
  }
  .profile-img img{
      width:100%;
  }
  .profile-img .file {
      position: absolute;
      overflow: hidden;
      bottom:0;
      left:0;
      width: 100%;
      border: none;
      border-radius: 0;
      font-size: 15px;
      background: #212529b8;
  }
  .profile-img .file input {
      position: absolute;
      opacity: 0;
      right: 0;
      top: 0;
  }

@media (max-width: 992px) {
  .margin-r{
    margin-right: 0px;
  }
}

@media (max-width: 685px) {
  .margin-r{
    margin:0px 20px 8px 20px;
  }
}

/*submitApplication*/
.readOnlyColor{
  background-color:#e5e5e5 !important;
}

.fs-12{
  font-size:12px !important;
}

.minHeight{
  min-height:100px !important;
}

.schedule{
  border:2px solid #e5e5e5 !important;
  background-color:#f2f2f2 !important;
}

/* viewHistory */
.w-95{
  width: 95%;
}

.w-10{
  width: 10%;
}

.btn-mint{
  background-color:#0ac876;
  color:#ffffff;
}

.btn-mint:hover{
  background-color:#09A562;
  color:#dcdcdc;
}

.bg-mint{
  background-color:#0ac876;
}

.bg-container{
  background-color:#505A55;
}

.bg-pale{
  background-color:#f5f5dc;
}

.materialSelection{
  width:400px;
  font-size:16px;
}

.hidden{
  display: none;
}

.w-40{
  width:40% !important;
}

#editBtn_form {
    outline: none;
    padding: 0.8em 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    border: none;
    color: #FFFFFF;
	text-transform:uppercase;
    cursor: pointer;
      background: #0B80F7;
    box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);

}
#editBtn_form:hover {
    color: #fff;
       background: #000;
    transition: .5s all;
	-webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}

#deleteBtn_form{
  background:#F02817;
}

#deleteBtn_form:hover{
  background:#000;
}

/* For ui-datepicker */
.ui-state-active a:visited {
  border: 1px solid #003eff;
	background: #007fff;
}
