@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);
@import url(https://fonts.googleapis.com/css?family=Merriweather);

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  min-height: 80;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.page-section {
  padding: 4em 0;
  position: relative;
}



section {
  height: calc(90% - 50px);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}



#mainNav {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color:#41cb52;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

#mainNav .navbar-brand {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 1000;
  font-size: 2em;
    text-transform: uppercase;
  color:#2c292f;

}

#mainNav .navbar-nav .nav-item .nav-link {
  color:#2c292f;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 0.9rem;
}

#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: #fff;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #fff !important;
}

@media (min-width: 992px) {
  #mainNav {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
  }

  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }

  #mainNav .navbar-brand:hover {
    color: #fff;
  }

  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 1rem;
  }

  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }

  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }

  #mainNav.navbar-scrolled {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #41cb52  ;
  }

  #mainNav.navbar-scrolled .navbar-brand {
    color:  #2c292f
  }

  #mainNav.navbar-scrolled .navbar-brand:hover {
    color: #ffffff;
  }

  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
    color:#2c292f;
  }

  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: #ffffff;
  }
}

.navbar-toggler {
  cursor: pointer;
}


header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(92, 77, 66, 0.8)), to(rgba(92, 77, 66, 0.8))), url("../images/ban2.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url("../images/ban2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead h1 {
  font-size: 2.25rem;
}

@media (min-width: 992px) {
  header.carousel-item {
    height: 100vh;
    min-height: 40rem;
    padding-top: 72px;
    padding-bottom: 0;
  }

  header.des {
    font-size: 1.15rem;
  }

  header.carousel-item h3 {
    font-size: 3rem;
  }

}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3.5rem;
  }

}

hr .linedivider{
border: 1px solid white;
}
label {
  color: #6c757d;
  font-size: 18px;
  font-weight: 700;
}
.arrow {
  text-align: center;
  margin: 0;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}
/*header*/

/**about*/
.page-section1{
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-color: #f1f4fa;
}
.page-section1 h2{
  padding-bottom: 40px;
}
.wrap {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

.wrap:hover {
    background: linear-gradient(135deg,#41cb52 0%,#0a193b 100%);
    color: white;
}

.ico-wrap {
    margin: auto;
}

.mbr-iconfont {
    font-size: 4.5rem !important;
    color: #313131;
    margin: 1rem;
    padding-right: 1rem;
}
.vcenter {
    margin: auto;
}

.mbr-section-title3 {
    text-align: left;
}
h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.display-5 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1.4rem;
}
.mbr-bold {
    font-weight: 700;
}

 p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
}
.display-6 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1rem;}
/*----about----------*/

/*--loginmoduel--*/

.form-control{
  background: #e5e5e5;
  border: 0px;

}

#span{
  color:red;
}


/*
.signin-form input[type="email"],.signin-form input[type="text"], .signin-form input[type="password"],.signin-form select {
    width: 100%;
    padding: 1em 1em 1em 1em;
    font-size: 0.8em;
    margin: 0.5em 0;
    outline: none;
    color: #212121;
    border: none;
    border: 1px solid #ccc;
    letter-spacing: 1px;
    text-align: center;
}
.signin-form input[type="email"] {
    background: none;
    display: block;
}
.signin-form input[type="text"] {
    background: none;
    display: block;
}
.signin-form input[type="password"] {
     background: none;
    display: block;
}
.signin-form ::-webkit-input-placeholder{
	color:#212121 !important;
}
.signin-form ::-webkit-textarea-placeholder{
	color:#212121 !important;
}
.signin-form textarea {
	min-height:100px;
}*/
.signup-form input[type="submit"] {
    outline: none;
    padding: 0.8em 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    border: none;
    color: #FFFFFF;
	text-transform:uppercase;
    cursor: pointer;
      background: #0ac876;
    box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);

}
.signup-form input[type="submit"]:hover {
    color: #fff;
       background: #000;
    transition: .5s all;
	-webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}

::-webkit-input-placeholder {
   font-family: 'Source Sans Pro',sans-serif;
   font-size: 1rem;
   font-size: 14px;
}

:-moz-placeholder { /* Firefox 18- */
   letter-spacing: 0.2px;
   font-family: 'Source Sans Pro',sans-serif;
   font-size: 1rem;
}

::-moz-placeholder {  /* Firefox 19+ */
   letter-spacing: 0.2px;
   font-family: 'Source Sans Pro',sans-serif;
   font-size: 1rem;
}

:-ms-input-placeholder {
  letter-spacing: 0.2px;
   font-family: 'Source Sans Pro',sans-serif;
   font-size: 1rem;
}

.modal-content{
    background: linear-gradient(145deg, #eee, #fff);
}
.modal-title{
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;;
}
/*--loginmodule--*/
/*--signUpmodule--*/
.project-tab {
    padding: 30px 10px 10px 10px;
    margin-top: -8%;
}
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color:  #3c763d;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #3c763d;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
/*--sign up module---*/


/* RecycleNow- materials*/

.cta-100 {
  padding-top: 5rem;
}

.white {
  color: #fff !important;
}
.mt{float: left;margin-top: -20px;padding-top: 20px;}
.bg-blue-ui {
  background-color: #708198 !important;
}
figure img{width:300px;}

#blogCarousel {
  padding-bottom: 50px;
}

.blog .carousel-indicators {
  left: 0;
  top: -50px;
  height: 10%;
}


/* The colour of the indicators */

.blog .carousel-indicators li {
  background: #708198;
  border-radius: 50%;


}

.blog .carousel-indicators .active {
  background: #41cb52;
}


.item-carousel-blog-block {
  outline: medium none;
  padding: 15px;
}

.item-box-blog {
  border: 1px solid #dadada;
  text-align: center;
  z-index: 4;
  padding: 20px;
}

.item-box-blog-image {
  position: relative;
}

.item-box-blog-image figure img {
  width: 100%;
  height: auto;
}

.item-box-blog-date {
  position: absolute;
  z-index: 5;
  padding: 4px 20px;
  top: -20px;
  right: 8px;
  background-color: #41cb52;
}

.item-box-blog-date span {
  color: #fff;
  display: block;
  text-align: center;
  line-height: 1.2;
}

.item-box-blog-date span.mon {
  font-size: 18px;
}

.item-box-blog-date span.day {
  font-size: 16px;
}

.item-box-blog-body {
  padding: 10px;
}

.item-heading-blog a h5 {
  margin: 0;
  line-height: 1;
  text-decoration:none;
  transition: color 0.3s;
}

.item-box-blog-heading a {
    text-decoration: none;
}

.item-box-blog-data p {
  font-size: 13px;
}

.item-box-blog-data p i {
  font-size: 12px;
}

.item-box-blog-text {
  max-height: 100px;
  overflow: hidden;
}

.mt-10 {
  float: left;
  margin-top: -10px;
  padding-top: 10px;
}

.btn.bg-blue-ui.white.read {
  cursor: pointer;
  padding: 4px 20px;
  float: left;
  margin-top: 10px;
}

.btn.bg-blue-ui.white.read:hover {
  box-shadow: 0px 5px 15px inset #4d5f77;
}



/*---materials--*/

/*contactUs*/
ul.social_section_1info {
  margin-top: 20px;
}

ul.social_section_1info li {
  display: inline-block;
}

ul.social_section_1info a {
  margin-right: 4px;
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

ul.social_section_1info a span.fa {
  font-size: 13.5px;
  color: #ccc;
  line-height: 40px;
}

ul.links li {
  display: inline-block;
  padding: 0 10px;
}

ul.social_section_1info li:hover {
  color: #41cb52 !important;
}
/*contactUs*/
/*footer*/
.flinks a:hover{
  color: #2c292f;
  text-decoration: none;
}

#logo{
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 1000;
  font-size: 2em;
  color:  #41cb52;
  letter-spacing: 0.2rem;
}


li.nav-info a {
  padding: 10px 10px;
  color: #ffffff;
  text-decoration: none;
}
li.nav-info i{
  padding: 5px 10px;

}
li.nav-info a:hover {
  color: #41cb52 !important;
}


/*--profile.php--*/
/*header*/
.jumbotron{margin-bottom: 0;}


/* Paragraph for Parallax Section */
.paral p {
font-size: 24px;
color:#f5f5f5;
text-align: center;
line-height: 60px;
}

/* Heading for Parallax Section */
.paral h1 {
color: rgba(255, 255, 255, 0.8);
color: rgb(255, 255, 255);
font-size: 60px;
text-align: center;
padding-top: 60px;
line-height: 100px;
}


.paralsec {
background-image: url("https://img.webnots.com/2017/05/parallax.jpg");
}


/*body.{
  background-color: -webkit-linear-gradient(left, #3931af, #00c6ff);
}*/

  .emp-profile{
      padding: 3%;
      margin-top: 3%;
      margin-bottom: 3%;
      border-radius: 0.5rem;
      background: #fff;
  }
.profile-img{
      text-align: center;
      padding: 14%;
      margin-top: -15%;
  }
  .profile-img img{
      width: 70%;
      height: 100%;
  }
  .profile-img .file {
      position: relative;
      overflow: hidden;
      margin-top: -20%;
      width: 70%;
      border: none;
      border-radius: 0;
      font-size: 15px;
      background: #212529b8;
  }
  .profile-img .file input {
      position: absolute;
      opacity: 0;
      right: 0;
      top: 0;
  }
  .profile-head h4{
      color: #333;
  }
  .profile-head h5{
      color: #0062cc;
  }
  .profile-edit-btn{
      border: none;
      border-radius: 1.5rem;
      width: 70%;
      padding: 2%;
      font-weight: 600;
      color: #6c757d;
      cursor: pointer;
  }
  .proile-rating{
      font-size: 15px;

      color: #818182;

  }
  .proile-rating span{
      color: #495057;
      font-size: 15px;
      font-weight: 600;
  }
  .profile-head .nav-tabs{
      margin-bottom:5%;
  }
  .profile-head .nav-tabs .nav-link{
      font-weight:600;
      border: none;
  }
  .profile-head .nav-tabs .nav-link.active{
      border: none;
      border-bottom:2px solid #0062cc;
  }
  .profile-work{
      padding: 14%;
      margin-top: -15%;
  }
  .profile-work p{
      font-size: 12px;
      color: #818182;
      font-weight: 600;
      margin-top: 10%;
  }
  .profile-work a{
      text-decoration: none;
      color: #495057;
      font-weight: 600;
      font-size: 14px;
  }
  .profile-work ul{
      list-style: none;
  }
  .profile-tab label{
     margin-top: -10px;
      font-weight: 600;
  }
  .profile-tab h5{
      font-weight: 600;
      color: #0062cc;
  }

  .profile-tab input[type="text"] {
      font-weight: 600;
      color: #0062cc;
      font-size: 1em;
  }

  .proile-tab span{
      color: #495057;
      font-size: 5px;
      font-weight: 600;
  }
